.carousel {
  margin-top: 60px;
  position: relative;
}

.carousel::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 80%);
}

.carousel-slides {
  display: flex;
  flex-direction: column;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: none;
  position: absolute;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  
}

.image.active {
  display: block;
}

.slide-count {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  background-color: white;
  cursor: pointer;
  position: relative;
}

.slide-count.active{
  background-color: rgb(0, 0, 0);
}

.slide-count-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.741);
  padding: 8px;
  justify-content: center;
  border-radius: 20px;
  position: absolute;
  right: 20px;
  top: calc(90% / 2);
  z-index: 100;
}

.slide-count::after {
  content: attr(data-text);
  position: absolute;
  opacity: 0;
  white-space: nowrap;
  padding: 2px 8px;
  background-color: rgba(255, 255, 255, 0.781);
  right: 25px;
  top: -3px;
  border-radius: 12px;
  font-size: 14px;
}

.slide-count:hover::after {
  position: absolute;
  opacity: 1;
}