.add-section {
  display: flex;
}

.add-box {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin-bottom: 20px;
  border: 2px solid rgb(0, 0, 0);
  padding: 30px; 
}

.add-section h3  {
  margin-bottom: 10px;
}

.add-section input {
  padding: 10px;
  margin-bottom: 10px;
}

.add-section textarea {
  padding: 10px;
  margin-bottom: 10px;
  max-width: calc(100% - 22px);
  min-width: calc(100% - 22px);

  max-height: 100px;
  min-height: 100px;
}

.add-section input {
  padding: 10px;
  margin-bottom: 10px;

}

.add-section label {
  margin-bottom: 10px;
  font-size: 13px;
}

.add-section button {
  padding: 10px 20px;
  width: fit-content;
  cursor: pointer;
}

h3 {
  margin: 0;
}


/* CONTENT */

.content-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
}

button {
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  border: 1px solid black;
}

.content-box h3, p {
  margin-bottom: 10px;
}

.content-box {
  border: 2px solid black;
  padding: 20px;
  width: 250px;
}

.number-sort {
  background-color: aqua;
  padding: 5px 10px;
}