body {
  font-family: Montserrat;
  height: 1000px;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 50px;
  padding: 10px 20px;
  justify-content: space-between;
  z-index: 200;
}

.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-nav {
  display: flex;
  flex-direction: row;
}

.nav-title {
  font-weight: 600;
  margin-left: 40px;
  cursor: pointer;
}

.nav-title:hover {
  text-decoration: underline;
}

p {
  margin: 0;
}

.logo-img {
  width: 50px;
  background-color: transparent;
  margin-right: 20px;
}

.logo-title {
  font-weight: 600;
  font-size: 20px;

}

