body {
  font-family: Montserrat;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: rgb(115, 202, 97);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 50px;
  padding: 10px 20px;
}

p {
  margin: 0;
}

.logo-img {
  width: 50px;
  background-color: transparent;
}

.logo-title {
  font-weight: 600;
  font-size: 20px;
}

.hamburger-icon {
  cursor: pointer;
}

/*ABOUT*/
.about-container {
  display: flex;
  flex-direction: column;
  padding: 50px 100px;
  gap: 10px;
  background-color: #885830;
}

.about-title {
  font-size: 25px;
  font-weight: 600;
}